@font-face {
  font-family: "UNIVERS_MEDIUM";
  src: url("./fonts/Univers-Fonts/94030_UB.TTF");
}

body {
  display: grid;
  place-items: center;
  align-items: center;
  height: 97vh;
  background: #fff;
}
.wrapper {
  font-family: "UNIVERS_MEDIUM", sans-serif;
  font-size: 150px;
  /* line-height: 0.85em; */
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-weight: 900;
}
.number-area {
  display: inline-block;
  overflow: hidden;
  /* border: 1px solid red; */
  width: 0.6em;
  height: 1em;
  padding: 0.6rem;
  /* text-shadow: 0 4px 8px rgba(0, 245, 245, 0.9); */
  color: #2e2e2e;
}

.num {
  font: inherit;
  word-break: break-all;
  display: block;
  width: 0;
  padding: 0 1.6em 0 0;
  /* margin: -12.35em auto; */
  margin: -2.2em auto;
  overflow: inherit;
  animation: animate 0.5s steps(10) forwards infinite;
}

.num:before {
  content: attr(data-attr);
  display: inline-block;
  width: 100%;
  height: auto;
}

@keyframes animate {
  100% {
    transform: translate3d(0, -10em, 0);
  }
}
.n1 {
  animation-iteration-count: 20;
}
.n2 {
  animation-iteration-count: 18;
}
.n3 {
  animation-iteration-count: 16;
}
.n4 {
  animation-iteration-count: 14;
}
.n5 {
  animation-iteration-count: 12;
}
.n6 {
  animation-iteration-count: 10;
}
.n7 {
  animation-iteration-count: 8;
}
.n8 {
  animation-iteration-count: 6;
}
.n9 {
  animation-iteration-count: 4;
}
.n10 {
  animation-iteration-count: 2;
}
